<form action="/signup" method="POST">
<label for="username">username
    <input type="text" name="username">
</label>
<label for="password">password
    <input type="password" name="password">
</label>
<button type="submit">Sign in</button>
</form>